body {
    background-image: url("../Images/img_3.jpg");
    text-align: center;
}
div.content {
    width: 1100px


}
header{
    text-align: center ;
    font-style: oblique;
}
footer {
    background-color:lightslategrey;
    color:black;
    clear:both;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color:midnightblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: 'Â»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/*fieldset {*/
/*margin-top: 10px;*/
/*width: 600px*/
/*}*/
.homeBody {
    background-image: url("../Images/img_4.jpg");
    text-align: center;
}
.headd{

    font-family: "Arabic Typesetting";
    color:blue;
    font-size: 50px;

}

.foot{
    font-family: "Arabic Typesetting";
    color:red;
    font-size: 50px;
}

.label1 {

    font-size: 10px;
}

.logout{
    font-size: 24px;
    color: red;
}

h2{
    font-size: 40px;

}

legend{
    text-decoration: underline;
    font-style: oblique;
    font:80px ;
    color: midnightblue;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

select {
    vertical-align: top;
    width: 300px;
}

textarea {
    vertical-align: top;
    height: 5em;
    width: 300px;
    resize: vertical;
}