<!DOCTYPE html >
<html>
<head>
    <title>Parent</title>
    <meta name="keywords" content="HTML forms, input">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link href="css/style.css" rel="stylesheet">

    <script src="client/parent-client.js"></script>
</head>

<body>
<br>
<header>
    <a class="logout" style="color: black; float: left" id="logout" href="Home.html" >Logout</a>
    </p>
</header>
<br>
<br>
<br>
<h1 style="color: darkblue; font:100px; ">My Childs Tasks:</h1>

<script id="tasks-template" type="text/x-handlebars-template">

    <table class="table table-hover table-striped " border="1">
        <tr>
            <th>Task Id </th>
            <th>Surah-Name</th>
            <th>Student-Name</th>
            <th>From-Aya</th>
            <th>To-Aya</th>
            <th>Type</th>
            <th>Due-Date</th>
            <th>Completed-Date</th>
            <th>Mastery-Level</th>
            <th>Comment</th>

        </tr>
        {{#each tasks}}
        <tr>
            <td>
                {{ taskId }}
            </td>
            <td>
                {{ surahName }}
            </td>
            <td>
                {{ studentName }}
            </td>

            <td>
                {{ fromAya }}
            </td>
            <td>
                {{ toAya }}
            </td>
            <td>
                {{ type }}
            </td>
            <td>
                {{ dueDate }}
            </td>
            <td>
                {{ completedDate }}
            </td>
            <td>
                {{ masteryLevel }}
            </td>
            <td>
                {{ comment }}
            </td>

        </tr>
        {{/each}}
    </table>
</script>


<div class="content" id="tasks-list"> </div>


</body>

<br>
<br>
<br>
<br>
<br>
<br>
<footer style="font-family: 'Bradley Hand ITC'; color: white; background-color:lightslategrey;
    clear:both;
    text-align:center; font-size:25px">

    Copyright Halaqa Metrash
</footer>
</html>