<!DOCTYPE html>
<html>
<head>
        <title>Tasks</title>
        <meta name="keywords" content="HTML forms, input">
        <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="client/task-client.js"></script>
    <a class="logout" style="color: black; float: left" id="logout" href="Home.html" >Logout</a>
    <h1 class="headd"> Welcome To Halaqa Metrash - Tasks</h1>
</head>
<body >

<header>
    <br>


</header>

<ul class="nav navbar-nav">
    <li class="active"> <input class="button" style="height:auto; width:150px; background-color: black" type="text" name="addTask" value="Add Task" onclick="addTask()">
    </li>
    <li> <input class="button" style="height:auto; width:150px; background-color: black" type="text" name="listTasks" value="List Tasks" onclick="listAllTasks()">

    </li>
    <li><input class="button" style="height:auto; width:150px; background-color: black" type="text" name="completeTask" value="Completed Task" onclick="listCompletedTasks()">

    </li>
    <li>    <input class="button" style="height:auto; width:150px; background-color: black" type="text" name="pendingTask" value="Pending Task" onclick="listPendingTasks()">
    </li>
</ul>


<br><br><br><br>


    <script id="task-form-template" type="text/x-handlebars-template">
<section>
    <br>
    <form method="post" action="">
        <fieldset style="margin-top: 10px; width: 600px ">
            <legend >Add  Task</legend>
            <br> <br>
            <input type="hidden" name="taskId" id="taskId" />
            <label for="surahDD">Surah</label>
            <select name="surahDD" id="surahDD">
                <option></option>
            </select>
            <br> <br>
            <label for="studentDD">Student</label>
            <select name="studentDD" id="studentDD">
                <option></option>
            </select>
            <br><br>
            <label for="fromAya">From Aya: </label>
            <span id="selectedValue1"> </span><input type="range" id="fromAya" name="range-data"
                    min="1" max="500" value="1"
                   >
            <br> <br>
            <label for="toAya">To Aya: </label>
            <span id="selectedValue2"> </span><input type="range" id="toAya" name="range-data"
                    min="1" max="500" value="1"
                    oninput="selectedValue2=toAya.value">
            <br> <br>
            <label for="dd">Due Date: </label>
            <input type="date" id="dd" name="dd" maxlength="20">
            <br>
            <br>
            <label>Task Type:</label>
            <label style="text-align: left">
                <input type="radio" id="memo" name="memo" value="Memorization">
                Memorize
            </label>

            <label style="text-align: left">
                <input type="radio" id="revision" name="memo" value="Revision">
                Revision
            </label>
            <br>
            <br>
        </fieldset>
    </form>
</section>
</script>
<div id="task-form"></div>

<script id="tasks-template" type="text/x-handlebars-template">

    <table class="table table-striped"  >

    <tr>
            <th>Task Id </th>
            <th>Surah-Name</th>
            <th>Student-Name</th>
            <th>From-Aya</th>
            <th>To-Aya</th>
            <th>Type</th>
            <th>Due-Date</th>
            <th>Completed-Date</th>
            <th>Mastery-Level</th>
            <th>Comment</th>

        </tr>
        {{#each tasks}}
        <tr>
            <td>
                {{ taskId }}
            </td>
            <td>
                {{ surahName }}
            </td>
            <td>
                {{ studentName }}
            </td>

            <td>
                {{ fromAya }}
            </td>
            <td>
                {{ toAya }}
            </td>
            <td>
                {{ type }}
            </td>
            <td>
                {{ dueDate }}
            </td>
            <td>
                {{ completedDate }}
            </td>
            <td>
                {{ masteryLevel }}
            </td>
            <td>
                {{ comment }}
            </td>
            <td>
                <!-- data-heroId is a custom attribute added to the link -->
                <!-- class displayButton is added to be able to refer all display buttons
                    form JavaScript
                -->

                <!-- another way to doing it is to call the function when onclick event occurs  -->
                <a href="javascript:void(0);" onclick="updateTask({{taskId}});"
                   data-heroId="{{id}}" class="editButton btn btn-info">
                    <i class="fa fa-pencil-square-o"></i> Edit
                </a>
                <a href="javascript:void(0);" onclick="deleteTask({{taskId}},'{{whichList}}');" class="deleteButton btn btn-info">
                    <i class="fa fa-trash-o"></i> Delete
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</script>


<div id="tasks-list"> </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer style="font-family: 'Bradley Hand ITC'; color: white; font-size:25px">
    Copyright Halaqa Metrash
</footer>
   </div>
 </div>
</div>
</body>
</html>
